.registerpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80vh;
  font-family: 'Montserrat', sans-serif;
}

.registerpage-form {
  background-color: #ffffff;
  display: flex;
  place-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* form Details */
.registerpage-form_h1 {
  font-weight: bold;
  font-size: 40px;
}

.registerpage-form_input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0px;
  width: 50vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registerpage-form_button {
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid #07553b;
  background-color: #07553b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}
